/* This file contains all the custom fonts and colors for the dollmaker */

/*----------------------------------------------*/

/* Load custom font.
   TIP: You can find many nice OFL-licensed fonts over at Google: https://fonts.google.com */
@import url('https://fonts.cdnfonts.com/css/pixelify-sans');

html {
    background-image: linear-gradient(to bottom right, #3E00A0, #A064FF);   /*You can use any kind of background you want (including an image, a solid color, or a gradient as shown here). */
    background-repeat: no-repeat; /* Set to repeat if using a tiled background */
    background-size: 100%; /* If you plan on using a tiled background, or simply don't want your image to be resized, you can remove this part altogether. Otherwise you might get ugly stretching. I do recommend it for CSS gradients though, which is why I used it here. */
    background-attachment: fixed; /* I like fixed backgrounds, so I set it that way. You can change this for your own theme. */
    scrollbar-color: #D8C0FF #A068FF; /* Fancy scrollbar stylings */
}

body {
    color: #240060;
}

/* Use custom fonts for stuff that you wanna use it for */
h1,h2,button,#page-header a,#page-subheader a {
    font-family: 'Pixelify Sans', sans-serif;
}

#page-header {
    color: #ECE0FF;
}

#page-subheader {
    color: #D8C0FF;
}

#page-subheader a {
    color: #ECE0FF;
    transition: 0.3s;
}

#page-subheader a:hover {
    color: white;
}

button {
    color: #4A00C0;
    background-color: #ECE0FF;
    outline: 1px solid #4A00C0;
    border: 0;
}

/* Button hover styling */
button:hover {
    background-color: #C49FFF;
    color: white;
    outline: 1px solid white;
    border: 0;
}

/* This specifies styles that will affect all the boxes. Change to your own colors!*/
#bodyArea,#swatchesArea,.ui-tabs-panel {
    outline: 1px solid #4A00C0; /* Switched border with outline, to prevent offset issues on mobile */
    background: #D9C0FF;
}

#swatchesArea a {
    outline: 1px solid #4A00C0;
}

#swatchesArea a:hover {
	outline: 1px solid white;
}

#tabsbar li a {
   border: 1px solid #4A00C0;
   border-bottom: 3px solid #C4A0FF;
   background-color: #C4A0FF;
   color: #4A00C0;
}

/* Tabs hover styling, only for unselected tabs */
#tabsbar .ui-state-default a:hover {
    border-bottom: 3px solid #B080FF;
    background-color: #B080FF;
}

#tabsbar .ui-state-active a,#tabsbar .ui-state-active a:hover {
    border-bottom: 3px solid #D8C0FF;
    background-color: #D8C0FF;
}

/* Anti Right-click */
/* Commented out by default since I don't care for it. Feel free to uncomment it for your own project. */
/* #anti-rightclick {
    background: #D8C0FF;
    border: 1px solid #4A00C0;
} */
